<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Alumno Get All</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!--*-->
        
        <table>
            <thead>
            <th>IdAlumno</th>
            <th>Nombre</th>
            </thead>
            <tbody>
                <tr th:each="alumno: ${alumnos}">
                    <td th:text="${alumno.IdAlumno}"></td>
                    <td th:text="${alumno.Nombre}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
