<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body layout:fragment="body">
        <div class="container">
            <form th:action="@{/alumno/form}" method="post" th:object="${alumnoDireccion}" enctype="multipart/form-data">

                <input type="hidden" th:field="*{Alumno.IdAlumno}" />

                <div class="row mb-3 text-center">
                    <div class="col-md-3 mx-auto">
                        <div class="form-group">
                            <label for="imagenFile">Imagen:</label>
                            <input type="file" class="form-control" name="imagenFile" id="imagenFile" onchange="mostrarVistaPrevia()">
                        </div>

                        <div class="form-group">
                            <img id="vistaPrevia" src="#" alt="Vista previa de la imagen" style="max-width: 100%; max-height: 200px;">
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="NombreAlumno" class="form-label">Nombre</label>
                        <div class="input-group ">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                            <input id="NombreAlumno" type="text" class="form-control" placeholder="Nombre" th:field="*{Alumno.Nombre}" onKeyPress="return sololetras(event, 'errorMessageNombre');" >
                        </div>  
                        <span id="errorMessageNombre" class="text-danger"></span>
                        <label class="text-danger" th:if="${#fields.hasErrors('Alumno.Nombre')}" th:errors="*{Alumno.Nombre}"></label>
                    </div>
                    <div class="col-md-6">
                        <label for="ApellidoPaternoAlumno" class="form-label">Apellido Paterno</label>
                        <div class="input-group ">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                            <input id="ApellidoPaternoAlumno" type="text" class="form-control" placeholder="Apellido Paterno" th:field="*{Alumno.ApellidoPaterno}">
                        </div>     
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="UserNameAlumno" class="form-label">Username</label>
                        <div class="input-group ">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            <input id="UserNameAlumno" type="text" class="form-control" placeholder="Username"  th:field="*{Alumno.UserName}">
                        </div>     
                    </div>
                    <div class="col-md-4">
                        <label for="FechaNacimientoAlumno" class="form-label">Fecha Nacimiento</label>
                        <div class="input-group ">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                            <input id="FechaNacimientoAlumno" type="date" class="form-control" th:field="*{Alumno.FechaNacimiento}">
                        </div>     
                    </div>
                    <div class="col-md-4">
                        <label for="RolAlumno" class="form-label">Rol</label>
                        <div class="input-group ">
                            <select class="form-select" aria-label="Default select example" th:field="*{Alumno.Rol.IdRol}">
                                <option value=0 selected>Selecciona un Rol</option>
                                <option th:each="rol : ${roles}" th:value="${rol.IdRol}" th:text="${rol.Nombre}"></option>
                            </select>
                            <!--                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                                                        <input id="RolAlumno" type="text" class="form-control" placeholder="Rol" th:field="*{Alumno.Rol.IdRol}">-->
                        </div>     
                    </div>
                </div>

                <hr>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="CalleAlumno" class="form-label">Calle</label>
                        <div class="input-group ">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            <input id="CalleAlumno" type="text" class="form-control" placeholder="Calle"  th:field="*{Direccion.Calle}">
                        </div>     
                    </div>
                    <div class="col-md-3">
                        <label for="NumeroInteriorAlumno" class="form-label">No. Interior</label>
                        <div class="input-group ">
                            <span class="input-group-text" id="basic-addon1">#</span>
                            <input id="NumeroInteriorAlumno" type="text" class="form-control" placeholder="Número interior" th:field="*{Direccion.NumeroInterior}">
                        </div>     
                    </div>
                    <div class="col-md-3">
                        <label for="NumeroExteriorAlumno" class="form-label">No. Exterior</label>
                        <div class="input-group ">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                            <input id="NumeroExteriorAlumno" type="text" class="form-control" placeholder="Número exterior" th:field="*{Direccion.NumeroExterior}">
                        </div>     
                    </div>
                    <div class="col-md-3">
                        <label for="ColoniaAlumno" class="form-label">Colonia</label>
                        <div class="input-group ">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                            <input id="ColoniaAlumno" type="text" class="form-control" placeholder="Colonia" th:field="*{Direccion.Colonia.IdColonia}">
                        </div>     
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6 ">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-journal-bookmark-fill"></i></span>
                            <select class="form-select" aria-label="Default select example"  id="ddlPais" th:field="*{Direccion.Colonia.Municipio.Estado.Pais.IdPais}">
                                <option value="0">Seleccione un pais</option>
                                <option th:each="pais : ${paises}" th:value="${pais.IdPais}" th:text="${pais.Nombre}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 "> 
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-journal-bookmark-fill"></i></span>
                            <!--th if select para cuando vengan vacios-->
                            <select th:if="${Estados == null}" class="form-select" aria-label="Default select example" id="ddlEstado" th:field="*{Direccion.Colonia.Municipio.Estado.IdEstado}">
                                <option value="0">Seleccione un estado</option>
                            </select>
                            <!--th unless para cuando venga lleno por update-->
                            <select th:unless="${Estados == null}" class="form-select" aria-label="Default select example" id="ddlEstado" th:field="*{Direccion.Colonia.Municipio.Estado.IdEstado}">
                                <option th:each="Estado : ${Estados}" th:value="${Estado.IdEstado}" th:text="${Estado.Nombre}"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <button th:if="*{Alumno.IdAlumno == 0 }" class="btn btn-success"> Agregar</button>
                <button th:unless="*{Alumno.IdAlumno == 0 }" class="btn btn-primary"> Actualizar</button>

                <!--operador ternario -- Condición ? verdadera : falsa  -->
                <button th:text="*{Alumno.IdAlumno == 0} ? 'Agregar' : 'Actualizar'" class="btn btn-success"></button>
                <!--                <button class="btn btn-primary" type="submit">Button</button>-->

            </form>

        </div>
    </body>
</html>
<script>

//    function mostrarVistaPrevia() {
//
//        var input = $("#imagenFile");
//        var vistaPrevia = $("#vistaPrevia");
//        
//        if (input.files && input.files[0]) {
//            var reader = new FileReader();
//
//            reader.onload = function (e) {
//                vistaPrevia.attr('src', e.target.result);
////                vistaPrevia.src = e.target.result;
//            }
//
//            reader.readAsDataURL(input.files[0]);
//        } else {
//            alert("NO image selecetes")
//        }
//    }

    function sololetras(event, span) {
        var regex = /^[a-zA-Z]+$/;
        var key = event.key;
        var mensaje = document.getElementById(span); // errorMessageNombre
        if (key.match(regex)) {
            mensaje.innerHTML = "";
            return true;
        } else {
            mensaje.innerHTML = "Solo letras";
            return false;
        }
    }

    function ValidateAlpha(evt)
    {
        var keyCode = (evt.which) ? evt.which : evt.keyCode
        if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32)
            return false;
        return true;
    }

    imagenFile.onchange = evt => {
        const [file] = imagenFile.files
        if (file) {
            vistaPrevia.src = URL.createObjectURL(file)
        }
    }

    $(document).ready(function () {
        console.log("Hola desde JS")

        $("#ddlPais").change(function () {
            $.ajax({
                type: "GET",
                url: "/alumno/getEstadoByPais",
                datatype: "json",
                data: {IdPais: document.getElementById("ddlPais").value},
                success: function (estados) {
                    $("#ddlEstado").empty();
                    $("#ddlEstado").append('<option value="0">' + 'Seleccione un estado' + '</option>');
                    $.each(estados, function (i, estado) {
                        $("#ddlEstado").append('<option value=' + estado.idEstado + '>' + estado.nombre + '</option>');
                    });
                },
                error: function () {
                    alert("Error al obtener los datos de estado");
                }
            });
        });
    });
</script>
